[Desktop Entry]
Type=Application
Name={{ APP_DISPLAY_NAME }}
GenericName={{ APP_GENERIC_NAME }}
Comment={{ APP_COMMENT }}
Icon={{ APP_ICON }}
Exec=env PATH=/usr/lib/jvm/java-11-openjdk/bin:$PATH {{ APP_EXEC }}
Terminal=false
Categories={{ APP_CATEGORIES }}
Keywords={{ APP_KEYWORDS }}

